<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Google Fonts-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <title>TweetPulse.</title>
    
</head>
<body>
    <div class="runandresulthomepage">
    <p> Hello this is the other page.</p>
    <a href="{{url_for('aboutus')}}"><button>Go to About Us</button></a>
    </div>
</body>
</html>